<div>
  <h1>Author: {{author.name}}</h1>
  <p>{{author.lifespan}}</p>

  <div>
    <h4>Books</h4>
    <dl>
      {{#if author_books.length}}
      {{#each author_books}}
      <dt><a href={{url}}>{{title}}</a>
        <dd>{{summary}}</dd>
      </dt>
      {{/each}}
      {{else}}
      <p>This author has no books.</p>
      {{/if}}
    </dl>
  </div>
  <hr>
  <p><a href="{{author.url}}/delete">Delete Author</a></p>
</div>