<div>
  <h1>{{title}}</h1>
    <form action="" method="post">
      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" id="title" class="form-control" 
          placeholder='Name of book' name='title' required='true'
            {{#if book.title}} value="{{book.title}}" {{else}} value=""{{/if}}>
      </div>
      <div class="form-group">
        <label for="author">Author:</label>
        <select type="select" id="author" class="form-control" class="author" 
          placeholder='Select author' name='author' required='true'>
          {{#each authors}}
            {{option _id name ../book.author._id}}
          {{/each}}
        </select>
      </div>
          <div class="form-group">
            <label for="summary">Summary:</label>
            <textarea type="textarea" name="summary" id="summary" cols="30" rows="3" 
              class="form-control" placeholder="summary" required="true">
              {{book.summary}}
              </textarea>
          </div>
          <div class="form-group">
            <label for="isbn">ISBN:</label>
            <input type="text" id="isbn" class="form-control" placeholder="ISBN13" 
              name="isbn" required="true" value="{{book.isbn}}">
          </div>
          <div class="form-group">
            <label for="">Genre:</label>
            <div>
              {{#each genres}}
                <input type="checkbox" name="genre" id={{_id}} class="checkbox-input" value={{_id}} 
                  {{#if checked}} checked {{/if}}>
                <label for={{_id}}>{{name}}</label>
              {{/each}}
            </div>
          </div>
            <button type="submit">Submit</button>

          {{> error_partial}}

    </form>
    
</div>